 <div class="section-top-border">
		<h3 class="mb-30 set-color-font">Add products</h3>
		<div class="progress-table-wrap">
			<div class="progress-table padding-form-add">
                <form method="POST" action="/admin/store-depart">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">ID</label>
                        <input type="text" class="form-control" id="inputAddress2" placeholder="DPxxx" name="ID">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Department</label>
                        <input type="text" class="form-control" id="inputAddress2" name="department" >
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Address</label>
                        <input type="text" class="form-control" id="inputAddress2" name="address">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="inputAddress2" name="phone">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
			</div>
		</div>
	</div>		